.thetable {
	margin-top: 3em;
}

#slider {
	width: 300px;
}

table {
	border-collapse: collapse;
}
td, th {
	border: 1px solid;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}